@import './responsive.css';

:root {
  --neon-cyan: #00f3ff;
  --neon-magenta: #00f3ff;
  /* Reemplazo global de magenta por cyan */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  min-width: 320px;
}

/* Global Select Style */
select {
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid var(--neon-cyan);
  padding: 0.8rem;
  border-radius: 4px;
  font-family: 'Orbitron', sans-serif;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

select:focus {
  box-shadow: 0 0 10px rgba(0, 243, 255, 0.5);
}

select option {
  background-color: #1a1a1a;
  color: #fff;
}